# Python general
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/

# Test & Coverage
.tox/
.coverage
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDEs & Editors
.vscode/
.idea/
.spyderproject
.ropeproject

# AppImage build files & tools
VideoConverterPro.AppDir/
*.AppImage
linuxdeploy*
appimagetool
*.desktop

# Project-specific ignores
+consola/
ffmpeg-release-amd64-static.tar.xz
output.mp4